<table>
  <tbody>
    <tr>
      <th>Telegram URL</th>
      <td>
        <input type="text" id="settings_telegram_url"
                           size=200
                           value="<%= settings['telegram_url'] %>"
                           name="settings[telegram_url]" >
      </td>
    </tr>
  </tbody>
</table>s